################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Shopoing.Client/bin/Debug/netcoreapp3.1
/Shopoing.Client/obj
